@media only screen and (max-width: 1024px) {
  *{font-size: 8pt;}
  .nav-pc {display: none;}
  .header-style {display: none;}
  .slideshow-container {display:none;}
  .nav-mobile-btn {display: block;}
  .footer-col {
    width: 33.333%;
    padding-left: 20px;
  }
  .footer-col ul li a, .footer-col h4, #copyright, #digital-clock, .visitorCount, .current-date{
    font-size: 8pt;
  }
  .footer-col .social-links a{
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  iframe {display: none;}
  .backToMenu {width: 6%};
} 