.image-list {
    margin-left: 1%; 
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;
}
.image-list .image-item {
    width: 22%;
    margin: 10px;
    margin-left: 1.5%;
    float: left;
    border: 1px solid goldenrod;
    border-radius: 15px;
    background-color: black;
    display: block;
}
.image-list .image-item:hover {
    box-shadow: 0 3px 6px rgba(189, 157, 0, 0.94), 0 3px 6px rgba(189, 157, 0, 0.94);
}
.image-list .image-item img {
    margin: 15px 15px;
    width: 90%;
    border-radius: 15px;
    cursor: pointer;
}
.image-list .image-item .content {
  text-align: justify;
  padding: 5px 10px;
  font-size: 11pt;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/*-- Tablet --*/
@media only screen and (min-width: 768px) and (max-width: 1024px){
    
}
 
/*-- Mobile --*/
 @media only screen and (min-width: 240px) and (max-width: 768px) {

}

/* PC, Laptop */
@media only screen and (min-width: 1024px) {

}