* {
  margin: 0;
  padding: 0;
  font-size: 11pt;
  line-height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.logo {
  width: 20%;
  margin-left: 42%;
  display: block;
}

/* BEGIN: navbar for mobile | tablet*/
.nav-mobile {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 200px;
  max-width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform linear 0.5s;
  z-index: 1;
}

.nav-mobile ul {
  list-style: none;
}

.nav-mobile ul li {
  width: 100%;
  height: auto;
  text-align: left;
  padding: 10px 10px;
}

.nav-mobile ul li a {
  text-decoration: none;
  font-size: 9pt;
  font-weight: 500;
  color: white;
  padding: 5px 0px 5px 30px;
}

.dropdown-menu {
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 1.0);
  width: 100%;
}

.nav-mobile ul li:hover {
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-mobile ul li a:hover,
.dropdown-menu li a:hover {
  color: goldenrod;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
}

.nav-mobile-btn {
  position: absolute;
  color: goldenrod;
  top: 0;
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-right: 10px;
  display: none;
  cursor: pointer;
}

.nav-mobile-close {
  width: 20px;
  height: 20px;
  top: 1rem;
  right: 1rem;
  color: goldenrod;
  position: absolute;
  cursor: pointer;
}

.nav-input:checked~.nav-overlay {
  display: block;
}

.nav-input:checked~.nav-mobile {
  transform: translateX(0);
}

.nav-input:checked~.nav-mobile-close {
  display: block;
}

.nav-input:checked~.nav-mobile-btn {
  display: block;
}

.nav-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  display: none;
  animation: fadeIn linear 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* END : navbar for mobile | tablet*/

/* BEGIN : navbar for pc*/
.nav-pc {
  background-color: black;
  width: 100%;
  height: 50px;
  border: 2px solid goldenrod;
  border-radius: 10px;
  display: block;
}

.nav-pc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-pc ul li {
  display: block;
  float: left;
  width: 14.285%;
  height: 46px;
  text-align: center;
  padding: 10px 1px;
  border-radius: 5px;
}

.nav-pc ul li a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.nav-pc ul li a:hover {
  color: goldenrod;
  font-size: 12pt;
  font-weight: bold;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: black;
  min-width: auto;
  box-shadow: 0px 5px 5px 0px rgb(241, 168, 59);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 10px 1px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  color: goldenrod;
  background-color: wheat;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* END: navbar for pc*/

@-webkit-keyframes my {
  0% {
    color: goldenrod;
  }

  50% {
    color: #fff;
  }

  100% {
    color: goldenrod;
  }
}

@-moz-keyframes my {
  0% {
    color: goldenrod;
  }

  50% {
    color: #fff;
  }

  100% {
    color: goldenrod;
  }
}

@-o-keyframes my {
  0% {
    color: goldenrod;
  }

  50% {
    color: #fff;
  }

  100% {
    color: goldenrod;
  }
}

@keyframes my {
  0% {
    color: goldenrod;
  }

  50% {
    color: #fff;
  }

  100% {
    color: goldenrod;
  }
}

.test {
  -webkit-animation: my 700ms infinite;
  -moz-animation: my 700ms infinite;
  -o-animation: my 700ms infinite;
  animation: my 700ms infinite;
  font-size: 18pt;
}

/* BEGIN : Footer */
.footer {
  background-color: black;
  border-radius: 10px 10px 0 0;
  color: #fff;
  padding: 30px 0;
  width: auto;
}

.container {
  max-width: 100%;
  margin: auto;
}

.row {
  display: flex;
}

.footer-col {
  width: 16%;
  float: left;
  margin-left: 10px;
}

.footer-col h4 {
  color: goldenrod;
  font-size: 12pt;
  padding: 5px 0 0 0;
}

.footer-col a {
  text-decoration: none;
}

.footer-col hr {
  width: 15%;
  margin-top: 10px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li a {
  color: white;
  text-decoration: none;
}

.footer-col ul li:hover {
  padding-left: 8px;
}

.footer-col ul li a:hover {
  color: goldenrod;
  font-weight: bold;
}

.footer-col .social-links a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 1px;
  text-align: center;
  line-height: 30px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.footer-col .social-links a:hover {
  background-color: white;
  color: goldenrod;
}

.backToMenu {
  width: 5%;
}
/* END : Footer */

/* BEGIN : Slideshow */
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
}

.mySlides1 {
  display: none;
}

.slideshow-container .mySlides1:first-child {
  display: block;
}

.slideshow-container .mySlides1 img {
  vertical-align: middle;
}

.image-style {
  width: 100%;
  height: 100%;
  border-radius: 0 0 10px 10px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 60px;
  padding: 16px;
  margin-top: -22px;
  color: goldenrod;
  font-weight: 300;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  margin: -2.5% 0 0 96%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  color: goldenrod;
  font-weight: bolder;
  text-decoration: none;
}
/* END: Slideshow */

.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.gallery-style {
  max-width: 24%;
  background-color: #000;
  color: goldenrod;
  padding: 0 5px;
  border: 1px solid goldenrod;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.3), 0px 3px 2px 0px rgba(0, 0, 0, 0.3);
}

.gallery img {
  width: 100%;
  height: auto;
}

.about-us {
  float: left;
  display: flex;
}

/* BEGIN : Registration Form, Login Form, Contact Form */
.form-group {
  margin-left: 33%;
}

.log-reg-input,
.order-input {
  max-width: 600px;
  min-width: 240px;
  width: 100%;
  height: fit-content;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 0 0 10px 10px;
  padding: 2px 5px;
}

.contact-input,
.input-style {
  max-width: 800px;
  width: 100%;
  height: 36px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 0 0 10px 8px;
  padding: 2px 5px;
}

.btn-primary {
  margin: 10px 0 0 10px;
}

.log-reg-input:hover,
.contact-input:hover,
.order-input:hover,
.btn-primary:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15), 0 3px 10px rgba(0, 0, 0, 0.25);
}
/* END : Registration Form, Login Form, Contact Form */


/* BEGIN : Product card */
.product-list {
  width: 100%;
  margin: 0;
}

.product-list .product-item {
  width: 24%;
  height: auto;
  display: inline-block;
  text-align: justify;
  margin-left: 1%;
  border: 1px solid gainsboro;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1), 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.product-list .product-item img {
  width: 80%;
  margin: 30px 30px 0 30px;
  border-radius: 0px;
  margin: 10%;
}

.product-list .product-item .content {
  text-align: center;
  padding: 1%;
}

.product-list .product-item .content b,
.product-list .product-item .content p {
  font-weight: 600;
  font-size: 8pt;
}

.product-list .product-item button {
  border: none;
  border-radius: 10px;
  /* outline: 0; */
  padding: 8px 0;
  margin-bottom: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 80%;
  height: fit-content;

}

.product-list .product-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 10px 20px rgba(0, 0, 0, 0.28);
}

.product-list .product-item img:hover {
  transform: scale(1.05);
}

.product-list .product-item button:hover {
  opacity: 0.5;
}
/* END : Product card */

.fillter {
  width: 100%;
}

.file-icon {
  width: 35px;
  height: 35px
}

.fillter ul {
  list-style: none;
  float: left;
  width: 25%;
}

.fillter ul li {
  font-size: 8pt;
}

/* Product Detail */
.product-detail {
  text-align: justify;
  margin-top: 30px;
}

.product-detail ul {
  float: left;
  width: 50%;
  list-style-type: square;
}

.product-detail li {
  margin-left: 30px;
}

h1,
h3 {
  color: goldenrod;
  padding: 20px 0 0 0;
}

span {
  color: red;
  font-weight: 600;
  font-size: 15pt;
}

.signup-style,
.signin-style {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.signup-style:hover,
.signin-style:hover {
  color: goldenrod;
}

/*Search button*/
.box {
  position: relative;
  margin: 20px 0 0 20px;
}

.box .input {
  margin-top: 15px;
  padding: 10px;
  width: 130px;
  height: 36px;
  background: none;
  border: 2px solid goldenrod;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  color: goldenrod;
  outline: none;
  transition: .5s;
}

.box:hover input {
  width: 250px;
  background: #3b3640;
  border-radius: 10px;
}

.box i {
  position: absolute;
  margin-top: -15px;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 12pt;
  color: goldenrod;
  transition: .2s;
}

.box:hover i {
  opacity: 0;
  z-index: -1;
}

/*Current time*/
.date-box {
  width: 150px;
  height: 100px;
  padding: 2px 5px;
}

#digital-clock {
  width: auto;
  height: auto;
  text-align: center;
  position: relative;
}

.current-date {
  text-align: center;
}

.visitorCount {
  font-size: 12pt;
  text-align: center;
  position: relative;
}

.address {
  width: 50%;
  float: left;
  padding-left: 50px;
}

.address ul {
  padding-left: 30px;
}

/* BEGIN : FAQ Design */
.faq-header {
  font-size: 15pt;
  font-weight: 500;
  border-bottom: 1px dotted #ccc;
  padding: 24px;
}

.faq-content {
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1px dotted #ccc;
  font-size: 15pt;
}

.panel-title {
  font-size: 13pt;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-content {
  font-size: 12pt;
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked~.panel-content {
  height: auto;
  opacity: 1;
  padding: 14px;
}

.plus {
  position: absolute;
  margin-left: 20px;
  margin-top: 4px;
  z-index: 5;
  font-size: 25pt;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
}

.panel:checked~.plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}
/* END : FAQ Design */

/* BEGIN : Mobile Responsive : width < 740px*/
@media screen and (max-width: 46.1875em) {
  .product-list {
    margin: 0 10%;
  }

  .product-list .product-item {
    width: 80%;
  }

  .product-list .product-item button {
    font-size: 9pt;
    padding: 6px 12px;
  }

  .product-detail .slideshow-container {
    display: flex;
    flex-direction: column;
  }


  .slideshow-container {
    display: none;
  }

  .fillter ul {
    width: 50%;
    padding: 0 1px;
  }

  .box {
    display: none;
  }

  .address {
    width: 100%;
    padding: 0;
  }

  .address ul {
    padding-left: 25px;
  }

  .google-map {
    display: none;
  }

  .form-group {
    margin-left: 0%;
  }

  .form-group .input-style {
    width: 60%;
  }

  .btn-info {
    display: inline-block;
    width: 80px;
    height: fit-content;
    font-size: 8pt;
  }

  .btn-danger {
    width: 80px;
    height: fit-content;
    font-size: 8pt;
  }

  .logo {
    width: 30%;
    margin-left: 35%;
  }

  .title {
    margin-right: 15%;
  }

  .about-us {
    flex-direction: column;
  }

  .footer {
    display: none;
  }

  .address {
    width: 100%;
  }

  .product-detail-btn {
    display: inherit;
  }

  .product-detail .mySlides1 img {
    /* max-width: 600px;
    max-height: 500px; */
    width: 100%;
    height: 100%;
  }

  .input-style {
    height: 30px;
  }
}
/* END : Mobile Responsive */

/* BEGIN : Tablet Responsive : 740px <= width < 1024px */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .slideshow-container {
    display: none;
  }

  .product-list .product-item {
    width: 46%;
    margin-left: 3%;
  }

  .product-list .product-item img {
    width: 80%;
    margin: 10% 10%;
  }

  .product-detail .slideshow-container {
    display: flex;
    order: 0;
  }

  .product-detail .mySlides1 img {
    width: 100%;
    height: 80%;
  }

  .google-map {
    margin-top: 30px;
  }

  .logo {
    width: 18%;
    margin-left: 40%;
  }

  .form-group {
    margin-left: 10%;
  }
  .input-style {
    width: 30%;
    height: 30px;
  }

  .btn-info {
    width: 100px;
    height: 30px;
    font-size: 9pt;
  }

  .btn-danger {
    width: 100px;
    height: 30px;
    font-size: 9pt;
  }

  .table-hover .btn-danger {
    margin-right: 20%;
  }

  .footer-col {
    width: 80%;
  }
}
/* END : Tablet Responsive */

/* BEGIN: PC|Laptop Responsive : width >= 1024px*/
@media screen and (min-width: 64em){
  .product-list .product-item img {
    margin: 10% 10%;
  }

  .product-detail .mySlides1 img {
    width: 450px;
    height: 450px;
  }

  .google-map,
  .footer-google-map {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: auto;
  }
  
  .input-style {
    width: 35%;
  }

  .btn-info {
    width: 100px;
    height: 35px;
    font-size: 10pt;
    margin-left: 10px;
  }

  .btn-danger {
    width: 100px;
    height: 35px;
    font-size: 10pt;
  }

  .gallery-style {
    max-width: 24%;
    margin: 1% 0 1% 1%;
    border: 1px solid goldenrod;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.3), 0px 3px 2px 0px rgba(0, 0, 0, 0.3);
  }
}
/* END : PC|Laptop Responsive */


@media (max-width: 63.9375em) {

  *,
  .footer-col ul li a,
  .footer-col h4,
  #copyright,
  #digital-clock,
  .visitorCount,
  .current-date,
  .box .input,
  b,
  .panel-title,
  .panel-content {
    font-size: 9pt;
    line-height: 20px;
  }

  h1,
  h2 {
    font-size: 16pt;
  }

  .search-style h1 {
    font-size: 12pt;
  }

  .nav-pc {
    display: none;
  }

  .call-center,
  .login-register {
    display: none;
  }

  .nav-mobile-btn {
    display: block;
  }

  .product-detail ul {
    width: 100%;
    min-height: 300px;
  }

  .footer-col .social-links a {
    width: 20px;
    height: 20px;
    line-height: 20px;
  }

  .address {
    width: 100%;
  }

  .visitorCount {
    display: none;
  }

  .footer-google-map {
    /* display: none; */
    max-width: 90%;
    height: 90%;
  }

  .product-detail ul {
    width: 100%;
  }

  .product-detail-btn {
    margin: 0 0 0 5px;
  }

  .file-icon {
    width: 25px;
    height: 25px;
  }

  span {
    font-weight: 600;
    font-size: 13pt;
  }
 



}