.mySlides1{display: none}
.slideshow-container .mySlides1:first-child {display: block;}
img {vertical-align: auto;}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prevBtn, .nextBtn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0 30px;
  color: goldenrod;
  font-weight: 300;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

h4 {text-align: left;}

/* Mobile Responsive: width < 740px */
@media screen and (max-width: 46.1875em) {
  .nextBtn {
    margin: 0 0 0 78%;
    border-radius: 3px 0 0 3px;
  }
}

/* Tablet Responsive: 740px <= width < 1024px (64em) */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em){
  .nextBtn {
    margin: 80%;
    border-radius: 3px 0 0 3px;
  }
}
/* Laptop Responsive: width >= 1024px (64em) */
@media screen and (min-width: 64em){
  .nextBtn {
    margin: 0 0 0 62%;
    border-radius: 3px 0 0 3px;
  }
}