<style>
    .number {
        /*padding-right: 10px;*/
        text-align: right;
        padding-right: 20px;
    }

    #confirm {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    }

    #confirm h3,
    #confirm p {
        text-align: center;
    }

    .order-form {
        margin: 0 32%;
    }

    /*-- Tablet --*/
    @media only screen and (min-width: 740px) and (max-width: 1024px) {
        .order-form {
        margin: 0 25%;
    }

        .table-hover .btn-danger {
            margin-right: 10px;
            text-align: center;
        }
    }

    /* Mobile */
    @media only screen and (min-width: 240px) and (max-width: 740px) {
        .order-form {
            margin: 0;
        }
    }

</style>

<div class="container" ng-controller="cartControl">
    <br><br>
    <h2>Your Detailed Orders</h2>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th class="number">Price</th>
                <th class="number">Quantity</th>
                <th class="number">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in cart">
                <td>{{$index+1}}</td>
                <td>{{item.name}}</td>
                <td class="number">{{item.price}}</td>
                <td class="number">{{item.qty}}</td>
                <td class="number">{{item.price * item.qty|currency}}</td>
            </tr>
            <tr>
                <th colspan="4" style="text-align: right">Total Amount: </td>
                <td class="number" style="font-weight: bold;">{{total|currency}}</td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right">
                    <input type="button" class="btn btn-danger" style="width: 90px;" value="Remove all"
                        ng-click="removeAll()">
                    <input type="button" class="btn btn-info" style="width: 90px;" value="Checkout"
                        ng-click="checkout()">
                </td>
            </tr>
        </tbody>
    </table>

    <div id="confirm" ng-show="isShow">
        <div align="center">
            <h3>We are here for you !</h3>
            <p>Please complete and submit the following form.</p>
        </div>
        <form action="#!" onsubmit="return checkOut()">
            <div class="order-form">
                <div><input class="order-input" type="text" id="name" placeholder="Name" required></div>
                <div><input class="order-input" type="email" id="email" placeholder="Email"></div>
                <div><input class="order-input" type="tel" id="phone" placeholder="Phone"></div>
                <div><input class="btn btn-primary" type="submit" id="button" value="Submit" style="margin: 0 10px;">
                </div>
            </div>
        </form>
    </div>
</div><br>