<style>
    .number {
        /*padding-right: 10px;*/
        text-align: right;
        padding-right: 20px;
    }

    #confirm {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
    }

    #confirm h3,
    #confirm p {
        text-align: center;
    }

    .order-form {
        margin: 0 32%;
    }

    /*-- Tablet --*/
    @media only screen and (min-width: 740px) and (max-width: 1024px) {
        .order-form {
        margin: 0 25%;
    }

        .table-hover .btn-danger {
            margin-right: 10px;
            text-align: center;
        }
    }

    /* Mobile */
    @media only screen and (min-width: 240px) and (max-width: 740px) {
        .order-form {
            margin: 0;
        }
    }

</style>

<div class="container" ng-controller="cartController">
    <br><br>
    <h2>Your Detailed Orders</h2>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Product's name</th>
                <th class="number">Unit Price</th>
                <th class="number">Quantity</th>
                <th class="number">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products">
                <td>{{$index+1}}</td>
                <td>{{product.name}}</td>
                <td class="number">{{product.price|currency}}</td>
                <td class="number">{{product.quantity}}</td>
                <td class="number">{{product.price * product.quantity|currency}}</td>
            </tr>
            <tr>
                <th colspan="4" style="text-align: right">Total Amount: </td>
                <td class="number text-danger fw-bolder">{{total|currency}}</td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger mx-1" ng-click="removeAll()">Remove all</button>
        <button type="button" class="btn btn-dark" ng-click="checkout()" >Checkout</button>
    </div>

    
</div><br>