<section class="container">
	<!-- Search input -->
		<div class="align-center justify-content-lg-start justify-content-between mt-lg-0 mt-5">
			<h3>Ceiling Lights</h1>
			<div class="box">
				<form name="search">
					<input
						ng-model="brand"
						type="text"
						class="input"
						name="txt"
						placeholder=" Search..."
						onmouseout="this.value = ''; this.blur();" />
				</form>
				<i class="fas fa-search"></i>
			</div>
		</div>
	
	<!--Download file-->
	<div class="d-flex my-4">
			<h6>Download Catalogue:</h6>
			<a
				class="text-decoration-none ms-1"
				href="./assets/files/docs/Celling_Lights_Description.docx"
				download>
				<img
					src="./image/home/Download.png"
					alt=""
					class="file-icon" />File .DOC
			</a>
			<a
				class="text-decoration-none ms-1"
				href="./assets/files/pdf/Celling_Lights_Description.pdf"
				download>
				<img
					src="./image/home/Download.png"
					alt=""
					class="file-icon" />File .PDF
			</a>
	</div>
  <div class="row">
      <!--Filter by brand-->
      <div class="col-lg-2 d-lg-block d-md-none d-none">
        <h6>Sort by brand:</h6>
        <div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat1"
              value="1"
              checked
              ng-click="choose()" />
            <label >NOVELUX</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat2"
              value="2"
              checked
              ng-click="choose()" />
            <label >PARMIDA LED</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat3"
              value="3"
              checked
              ng-click="choose()" />
            <label >LUXRITE</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat4"
              value="4"
              checked
              ng-click="choose()" />
            <label >FEANRON</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat5"
              value="5"
              checked
              ng-click="choose()" />
            <label >DROSBEY</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat6"
              value="6"
              checked
              ng-click="choose()" />
            <label >MAXVOLADOR</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat7"
              value="7"
              checked
              ng-click="choose()" />
            <label >MEFFLYPEE</label>
          </div>
        </div>
      </div>

      <!--Ceiling Lights List -->
      <div class="col-lg-10">
        <div id="dataContainer">
          <div class="row">
          <div ng-repeat="ceiling in filteredCeilings | filter:{ type: type.type } | filter: brand"
            class="col-lg-3 col-md-4 col-6">
            <div class="product-item">
              <a href="#!/ceiling-lights/{{ceiling.id}}"><img ng-src="{{ceiling.images.split(', ')[0]}}"/></a>
              <div class="product-content">
                <p class="fw-semibold product-content__ellipsis">{{ceiling.name | uppercase}}</p>
                <p class="product-content__ellipsis ">
                  <i class="fa-solid fa-tag ms-1"></i>
                  {{ceiling.brand | uppercase}}
                </p>
                <p class="product-price">{{ceiling.price | currency}}</p>
                <a
                  class="btn btn-dark text-uppercase w-75 mb-3"
                  href="#!/ceiling-lights/{{ceiling.id}}">Buy Now
                </a>
              </div>
            </div>
          </div>
          </div>
        </div>
        <ul class="pagination" id="pagination"></ul>
      </div>
    </div>
</section>
