<div class="container-fluid">
  <section>
    <table>
      <tr>
        <td>
          <h1>Fans</h1>
        
        <td>
          <div class="box">
            <div name="search">
              <input ng-model="txtSearch" type="text" class="input" name="txt" placeholder=" Search..." onmouseout="this.value = ''; this.blur();">
            </div>
            <i class="fas fa-search"></i>
          </div>
      </tr>
    </table> 
    <!--Download file-->
    <div>
      <b style="font-size: 13pt;">Download Catalogue:</b>
      <a href="./Docx/Fans_Description.docx" download>
        <img src="./image/home/Download.png" alt="" width="35px" height="35px">File .DOC
      </a>
      <a href="./PDF/Fans_Description.pdf" download>
        <img src="./image/home/Download.png" alt="" width="35px" height="35px">File .PDF
      </a>
    </div><br>

    <!-- Fans list--> <!--Add data from fans.json-->
    <div ng-repeat="type in productTypes" class="product-list">
      <div ng-repeat="fan in fans | filter:{ type: type.type } | filter:txtSearch" class="product-item">
        <img ng-src="{{fan.image}}">
        <div class="content">
          <p><b>{{fan.name}}</b></p>
          <p><b>Brand:</b> {{fan.brand | uppercase}}</p>
          <p>Price: <span>{{fan.price | currency}}</span>
          </p>
          <p><a ng-href="#!/fan/{{fan.id}}"><button>Buy Now</button></a></p>
        </div>
      </div>

      <div style="clear: both;"></div>
    </div>
    <br>
    
  </section>
</div>
