<div class="container-fluid">
  <section>
    <!--Search tool-->
    <table>
      <tr>
        <td>
          <h1>Lamps</h1>
        </td>
        <td>
          <div class="box">
            <form name="search">
              <input ng-model="brand" type="text" class="input" name="txt" placeholder=" Search..." onmouseout="this.value = ''; this.blur();">
            </form>
            <i class="fas fa-search"></i>
          </div>
        </td>
      </tr>
    </table>
    
    <!--Filter by brand-->
    <b>Filter by brand:</b><br>
    <div class="container">
      <div class="row">
        <div class="fillter">
          <ul>
            <li><input type="checkbox" ng-model="cat1" value="1" checked ng-click="choose()"> HUTA</li>
            <li><input type="checkbox" ng-model="cat2" value="2" checked ng-click="choose()"> MY HOME</li>
          </ul>
          <ul>
            <li><input type="checkbox" ng-model="cat3" value="3" checked ng-click="choose()"> XIAOMI</li>
            <li><input type="checkbox" ng-model="cat4" value="4" checked ng-click="choose()"> YEELIGHT</li>
          </ul>
        </div><br>
      </div>
    </div>
    
    <!--Download file-->
    <div>
      <b>Download Catalogue:</b>
      <a href="./Docx/Lamps_Description.docx" download>
        <img src="./image/home/Download.png" alt="" class="file-icon">File .DOC
      </a>
      <a href="./PDF/Lamps_Description.pdf" download>
        <img src="./image/home/Download.png" alt="" class="file-icon">File .PDF
      </a>
    </div>
    <br>

    <!--Lamps List --> <!--Add data from lamps.json-->
    <div class="product-list">
      <div ng-repeat="lamp in filteredLamps | filter:{ type: type.type } | filter:brand" class="product-item">
        <a href="#!/lamp/{{lamp.id}}"><img ng-src="{{lamp.image}}"></a>
        <div class="content">
          <p><b>{{lamp.name | uppercase}}</b></p>
          <p>Brand: {{lamp.brand | uppercase}} </p>
          <p><span>{{lamp.price | currency}}</span></p>
          <p><a ng-href="#!/lamp/{{lamp.id}}"><button>Buy Now</button></a></p>
        </div>
      </div>
    </div>
    <div style="clear: both;"></div>
    <br>
  </section>
</div>