<section class="container">
    <!-- Search input -->
		<div class="d-flex align-items-center">
			<h3>Outdoor Lights</h1>
			<div class="box">
				<form name="search">
					<input
						ng-model="brand"
						type="text"
						class="input"
						name="txt"
						placeholder=" Search..."
						onmouseout="this.value = ''; this.blur();" />
				</form>
				<i class="fas fa-search"></i>
			</div>
		</div>

		<!--Download file-->
		<div class="d-flex align-items-center my-4">
			<h6>Download Catalogue:</h6>
			<a
				class="text-decoration-none ms-1"
				href="./Docx/Outdoor_Lights_Description.docx"
				download>
				<img
					src="./image/home/Download.png"
					alt=""
					class="file-icon" />File .DOC
			</a>
			<a
				class="text-decoration-none ms-1"
				href="./PDF/Outdoor_Lights_Description.pdf"
				download>
				<img
					src="./image/home/Download.png"
					alt=""
					class="file-icon" />File .PDF
			</a>
		</div>

    <div class="row">
      <!--Filter by brand-->
      <div class="col-lg-2">
        <h6>Sort by brand:</h6>
        <div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat1"
              value="1"
              checked
              ng-click="choose()" />
            <label >FOUNTAIN</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat2"
              value="2"
              checked
              ng-click="choose()" />
            <label >EGLO</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat3"
              value="3"
              checked
              ng-click="choose()" />
            <label >GLOBE ELECTRIC</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat4"
              value="4"
              checked
              ng-click="choose()" />
            <label >AOOTEK</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat5"
              value="5"
              checked
              ng-click="choose()" />
            <label >UCGG</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat6"
              value="6"
              checked
              ng-click="choose()" />
            <label >LITHONIA</label>
          </div>
        </div>
      </div>
      <!--Wall Lights List -->
      <div class="col-lg-10">
        <div class="product-list col-12">
          <div
            ng-repeat="outdoor in filteredOutdoors | filter:{ type: type.type } | filter: brand"
            class="product-item">
            <a href="#!/outdoor-lights/{{outdoor.id}}"><img ng-src="{{outdoor.image}}" width="100" height="200" /></a>
            <div class="content">
              <p class="title-ellipsis">{{outdoor.name | uppercase}}</p>
              <p style="font-size: 14px;">
                <i class="fa-solid fa-tag mx-1"></i>
                {{outdoor.brand | uppercase}}</p>
              <p class="text-danger fw-bolder">{{outdoor.price | currency}}</p>
              <a
                class="btn btn-dark text-uppercase w-75 mb-3"
                href="#!/outdoor-lights/{{outdoor.id}}"
                >Buy Now</a
              >
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>