<div class="container-fluid">
    <section>
      <table>
        <tr>
          <td>
            <h1>Spot Lights</h1>
          </td>
          <td>
            <div class="box">
              <form name="search">
                <input ng-model="txtSearch" type="text" class="input" name="txt" placeholder=" Search..." onmouseout="this.value = ''; this.blur();">
              </form>
              <i class="fas fa-search"></i>
            </div>
          </td>
        </tr>
      </table>
      <!--Filter by brand-->
      <div>
        <b>Filter by brand:</b> &ensp;
        <input type="checkbox" ng-model="cat1" value="1" checked ng-click="choose()"> TAPO &ensp;
        <input type="checkbox" ng-model="cat2" value="2" checked ng-click="choose()"> DIEN QUANG &ensp;
      </div><br>
      <!--Download file-->
      <div>
        <b style="font-size: 13pt;">Download Catalogue:</b>
        <a href="./Docx/Spot_Lights_Description.docx" download>
          <img src="./image/home/Download.png" alt="" width="35px" height="35px">File .DOC
        </a>
        <a href="./PDF/Spot_Lights_Description.pdf" download>
          <img src="./image/home/Download.png" alt="" width="35px" height="35px">File .PDF
        </a>
      </div>
      <br>
      <!--Spot Lights List --> <!--Add data from spots.json-->
      <div class="product-list">
        <div ng-repeat="spot in filteredSpots | filter:{ type: type.type } | filter:txtSearch" class="product-item">
          <img ng-src="{{spot.image}}" style="width: 90%;">
          <div class="content">
            <p><b>{{spot.name}}</b></p>
            <p><b>Brand:</b> {{spot.brand | uppercase}} </p>
            <p>Price: <span>{{spot.price | currency}}</span></p>
            <p><a ng-href="#!/spot/{{spot.id}}"><button>Buy Now</button></a></p>
          </div>
        </div>
        
        <div style="clear: both;"></div>
      </div>
      
    </section>
</div>