<div class="container-fluid">
  <section>
    <table class="heading-style">
      <tr>
        <td>
          <h1>Wall Lights</h1>
        </td>
        <td>
          <div class="box">
            <form name="search">
              <input ng-model="brand" type="text" class="input" name="txt" placeholder=" Search..." onmouseout="this.value = ''; this.blur();">
            </form>
            <i class="fas fa-search"></i>
          </div>      
        </td>
      </tr>
    </table>

    <!--Filter by brand-->
    <b>Filter by brand:</b> <br>
    <div class="container">
      <div class="row">
        <div class="fillter">
          <ul>
            <li><input type="checkbox" ng-model="cat1" value="1" checked ng-click="choose()"> DIHUIKEJI </li>
            <li><input type="checkbox" ng-model="cat2" value="2" checked ng-click="choose()"> GLOBE ELECTRIC </li>
          </ul>
          <ul>
            <li><input type="checkbox" ng-model="cat3" value="3" checked ng-click="choose()"> HWH FARMHOUSE </li>
            <li><input type="checkbox" ng-model="cat4" value="4" checked ng-click="choose()"> LOG BARN </li>
          </ul>
          <ul>
            <li><input type="checkbox" ng-model="cat5" value="5" checked ng-click="choose()"> WESTINGHOUSE </li>
            <li><input type="checkbox" ng-model="cat6" value="6" checked ng-click="choose()"> GANEEP </li>
          </ul>
        </div>
      </div>
    </div>
  
    <!--Download file-->
    <div>
      <b>Download Catalogue:</b>
      <a href="./Docx/Wall_Lights_Description.docx" download>
        <img src="./image/home/Download.png" alt="" class="file-icon">File .DOC
      </a>
      <a href="./PDF/Wall_Lights_Description.pdf" download>
        <img src="./image/home/Download.png" alt="" class="file-icon">File .PDF
      </a>
    </div><br>
    <!--Wall Lights List --> <!--Add data from walls.json-->
    <div class="product-list">
      <div ng-repeat="wall in filteredWalls | filter:{ type: type.type } | filter: brand" class="product-item">
        <a href="#!/wall/{{wall.id}}"><img ng-src="{{wall.image}}"></a>
        <div class="content">
          <p><b>{{wall.name | uppercase}}</b></p>
          <p>Brand: {{wall.brand | uppercase}} </p>
          <p><span>{{wall.price | currency}}</span></p>
          <p><a ng-href="#!/wall/{{wall.id}}"><button>Buy Now</button></a></p>
        </div>
      </div>

      <div style="clear: both;"></div>
    </div>
    <br>
  </section>
</div>