<section class="container" ng-controller="wallListsController">
		<!-- Search input -->
		<div class="align-center justify-content-lg-start justify-content-between mt-lg-0 mt-5">
			<h3>Wall Lights</h1>
			<div class="box">
				<form name="search">
					<input
						ng-model="brand"
						type="text"
						class="input"
						name="txt"
						placeholder=" Search..."
						onmouseout="this.value = ''; this.blur();" />
				</form>
				<i class="fas fa-search"></i>
			</div>
		</div>

		<div class="row mt-4">
      <!--Filter by brand-->
      <div class="row col-lg-2 d-lg-block d-md-none d-none">
        <h6>Filter by brand:</h6>
        <div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat1"
              value="1"
              checked
              ng-click="choose()" />
            <label >DIHUIKEJI</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat2"
              value="2"
              checked
              ng-click="choose()" />
            <label >GLOBE ELECTRIC</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat3"
              value="3"
              checked
              ng-click="choose()" />
            <label >HWH FARMHOUSE</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat4"
              value="4"
              checked
              ng-click="choose()" />
            <label >LOG BARN</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat5"
              value="5"
              checked
              ng-click="choose()" />
            <label >WESTINGHOUSE</label>
          </div>
          <div class="d-flex align-items-center mb-3">
            <input
              type="checkbox"
              class="label-success me-1 form-check-input"
              ng-model="cat6"
              value="6"
              checked
              ng-click="choose()" />
            <label >GANEEP</label>
          </div>
          <a ng-include="'components/DownloadButton.html'"
          class="text-decoration-none ms-1 "
          href="./assets/files/pdf/Wall_Lights_Description.pdf"
          download>
        </a>
        </div>
      </div>
      <!--Wall Lights List -->
      <div class="col-lg-10">
        <div class="row">
          <div
            ng-repeat="wall in filteredWalls | filter:{ type: type.type } | filter: brand"
            class="col-lg-3 col-md-4 col-6">
            <div class="product-item">
              <a href="#!/wall-lights/{{wall.name}}">
                <img ng-src="{{wall.images.split(',')[0]}}" title="More details"/>
              </a>
              <div class="product-content">
                <p class="fw-semibold product-content__ellipsis">{{wall.name | uppercase}}</p>
                <p class="product-content__ellipsis">
                  <i class="fa-solid fa-tag ms-1"></i>
                  {{wall.brand | uppercase}}
                </p>
                <p class="product-price">{{wall.price | currency}}</p>
                <a
                  class="btn btn-dark text-uppercase w-75 mb-3"
                  href="#!/wall-lights/{{wall.name}}"
                  >Buy Now</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
	</section>
