* {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
	line-height: 24px;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.align-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.justify-content-start {
	display: flex;
	justify-content: start;
}

#productBtn:hover {
	opacity: 0.8;
	color: goldenrod;
}

/* BEGIN: navbar for mobile | tablet*/
.nav-mobile {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 200px;
	max-width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	transform: translateX(100%);
	transition: transform linear 0.5s;
	z-index: 1;
}

.nav-mobile ul {
	list-style: none;
}

.nav-mobile ul li {
	width: 100%;
	height: auto;
	text-align: left;
	padding: 10px 4px;
}

.nav-mobile ul li a {
	text-decoration: none;
	font-size: 16px;
	color: white;
	padding: 4px 0px 4px 8px;
}

.dropdown-menu {
	padding: 0 10px;
	background-color: rgba(0, 0, 0, 1);
	width: 100%;
}

.nav-mobile ul li:hover {
	padding-left: 12px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
}

.nav-mobile ul li a:hover,
.dropdown-menu li a:hover {
	color: goldenrod;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0);
}

.fa-bars {
	font-size: 22px;
}
.nav-mobile-btn {
	position: absolute;
	color: goldenrod;
	top: 0;
	width: 60px;
	height: 60px;
	margin-top: 10px;
	margin-right: 10px;
	display: none;
	cursor: pointer;
}

.nav-mobile-close {
	width: 20px;
	height: 20px;
	top: 1rem;
	right: 1rem;
	color: goldenrod;
	position: absolute;
	cursor: pointer;
}

.nav-input:checked ~ .nav-overlay {
	display: block;
}

.nav-input:checked ~ .nav-mobile {
	transform: translateX(0);
}

.nav-input:checked ~ .nav-mobile-close {
	display: block;
}

.nav-input:checked ~ .nav-mobile-btn {
	display: block;
}

.nav-overlay {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	display: none;
	animation: fadeIn linear 0.3s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* BEGIN : navbar for pc*/
.nav-pc {
	background-color: black;
	width: 100%;
	height: 50px;
	border: 2px solid goldenrod;
	border-radius: 10px;
	display: block;
}

.nav-pc ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-pc ul li {
	display: block;
	float: left;
	width: 14.285%;
	height: 46px;
	text-align: center;
	padding: 10px 1px;
	border-radius: 5px;
}

.nav-pc ul li a {
	color: white;
	text-decoration: none;
	transition: color 0.5s ease, font-size 0.5s ease; 
}

.nav-pc ul li a:hover {
	color: goldenrod;
    font-weight: 600;
    font-size: 1.5rem; 
    animation-duration: 500ms; 
    /* text-decoration: underline; */
}

.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: relative;
	background-color: black;
	min-width: auto;
	box-shadow: 0px 5px 5px 0px rgb(241, 168, 59);
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding: 10px 1px;
	text-decoration: none;
	display: block;
	text-align: center;
}

.dropdown-content a:hover {
	color: goldenrod;
	background-color: wheat;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* END: navbar for pc*/

@-webkit-keyframes my {
	0% {
		color: goldenrod;
	}

	50% {
		color: #fff;
	}

	100% {
		color: goldenrod;
	}
}

@-moz-keyframes my {
	0% {
		color: goldenrod;
	}

	50% {
		color: #fff;
	}

	100% {
		color: goldenrod;
	}
}

@-o-keyframes my {
	0% {
		color: goldenrod;
	}

	50% {
		color: #fff;
	}

	100% {
		color: goldenrod;
	}
}

@keyframes my {
	0% {
		color: goldenrod;
	}

	50% {
		color: #fff;
	}

	100% {
		color: goldenrod;
	}
}

.test {
	-webkit-animation: my 700ms infinite;
	-moz-animation: my 700ms infinite;
	-o-animation: my 700ms infinite;
	animation: my 700ms infinite;
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
}

/* BEGIN : Footer */
.footer {
	background-color: black;
	border-radius: 10px 10px 0 0;
	color: #fff;
	padding: 20px;
	width: auto;
}

.footer-col h4 {
	color: goldenrod;
	font-size: 1rem;
}

.footer-col__link {
	display: flex;
	flex-direction: column;
}

.footer-col__link a {
	padding: 2px 0 2px 6px;
}

.footer-col a {
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}

.footer-col hr {
	width: 30%;
	margin-top: 10px;
}

.social-links a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 1px;
	text-align: center;
	line-height: 30px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
}

.footer-col__link a:hover {
	padding-left: 4px;
}

.footer-col .social-links a:hover {
	opacity: 0.7;
}

.form-control:hover {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15), 0 3px 10px rgba(0, 0, 0, 0.25);
}

/* BEGIN : Product card */
.row {
	--bs-gutter-x: 10px !important;
	--bs-gutter-y: 15px !important;
}
.product-item {
	font-size: 12px;
	display: inline-block;
	text-align: center;
	border: 1px solid gainsboro;
	border-radius: 10px;
	box-shadow: 1px 1px rgba(0, 0.1, 0, 0.1);
}

.product-item img {
	width: 80%;
	background-position: center;
	margin: 30px 30px 0 30px;
	border-radius: 0px;
	margin: 10%;
	max-width: 100%;
	max-height: 100%;
}

.product-item .product-content {
	text-align: center;
	padding: 0 8px;
}
.product-content__ellipsis {
	font-size: 13px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 20px;
	height: 40px;
}

.product-item .product-price {
	color: #cd3545;
	font-weight: bold;
	font-size: 20px;
	padding: 4px 0;
}

.product-item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 10px 20px rgba(0, 0, 0, 0.28);
}

.product-item img:hover {
	transform: scale(1.05);
}
/* END : Product card */

/* Product Detail */
h1,
h2,
h3 {
	color: goldenrod;
	padding: 20px 0 0 0;
}

/* Input Search */
.box {
	position: relative;
	margin-left: 20px;
}

.box .input {
	margin-top: 15px;
	padding: 10px;
	width: 200px;
	height: 36px;
	background: none;
	border: 2px solid goldenrod;
	border-radius: 50px;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12pt;
	color: goldenrod;
	outline: none;
	transition: 0.5s;
}

.box:hover input {
	width: 250px;
	background: #3b3640;
	border-radius: 10px;
}

.box i {
	position: absolute;
	margin-top: -15px;
	right: 15px;
	transform: translate(-50%, -50%);
	font-size: 12pt;
	color: goldenrod;
	transition: 0.2s;
}

.box:hover i {
	opacity: 0;
	z-index: -1;
}

/*Current time*/
.date-box {
	max-width: 300px;
	max-height: 100px;
}

#digital-clock {
	width: auto;
	height: auto;
	text-align: center;
	position: relative;
}

.current-date {
	text-align: center;
}

/* BEGIN : FAQ Design */
.faq-header {
	font-size: 15pt;
	font-weight: 500;
	border-bottom: 1px dotted #ccc;
	padding: 24px;
}

.faq-content {
	margin: 0 auto;
}

.faq-question {
	padding: 20px 0;
	border-bottom: 1px dotted #ccc;
	font-size: 15pt;
}

.panel-title {
	font-size: 13pt;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 10px 10px 0 48px;
	display: block;
	cursor: pointer;
}

.panel-content {
	font-size: 12pt;
	padding: 0px 14px;
	margin: 0 40px;
	height: 0;
	overflow: hidden;
	z-index: -1;
	position: relative;
	opacity: 0;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
}

.panel:checked ~ .panel-content {
	height: auto;
	opacity: 1;
	padding: 14px;
}

.plus {
	position: absolute;
	margin-left: 20px;
	margin-top: 4px;
	z-index: 5;
	font-size: 25pt;
	line-height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.panel:checked ~ .plus {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.panel {
	display: none;
}

/* Show & hide Modal */
.loginModal.open,
.registerModal.open {
	display: flex;
	z-index: 1;
}

.loginModal,
.registerModal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rbga (0, 0, 0, 0.3);
	display: none;
	align-items: center;
	justify-content: center;
	animation: fadeIn linear 0.5s;
}

.modal-container {
	position: relative;
	width: 400px;
	min-height: 200px;
	width: calc(100%-32px);
	border: 2px solid gainsboro;
	border-radius: 10px;
}

.modal-close-btn {
	position: absolute;
	padding: 12px;
	color: #333;
	opacity: 0.8;
	cursor: pointer;
}

.fa-circle-xmark {
	font-size: 20px;
}

.modal-close-btn:hover {
	color: red;
	font-weight: 600;
}

.modal-header {
	background-color: #fff;
	line-height: 30px;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal-body {
	padding: 16px;
	background-color: #fff;
}

.modal-label {
	display: block;
	padding: 16px;
}

.modal-footer {
	background-color: #333;
	display: flex;
	justify-content: center;
	font-size: 0.9rem;
	padding: 16px;
}

@media screen and (max-width: 740px) {
	/* .box {
		display: none;
	} */

	.address {
		width: 100%;
		padding: 0;
	}

	.address ul {
		padding-left: 25px;
	}

	.google-map {
		display: none;
	}

	.form-group {
		margin-left: 0%;
	}

	.form-group .input-style {
		width: 60%;
	}

	.btn-info {
		display: inline-block;
		width: 80px;
		height: fit-content;
		font-size: 8pt;
	}

	.btn-danger {
		width: 80px;
		height: fit-content;
		font-size: 8pt;
	}

	.logo {
		width: 30%;
		margin-left: 35%;
	}

	.about-us {
		flex-direction: column;
	}

	.footer {
		display: none;
	}

	.address {
		width: 100%;
	}

	.product-detail-btn {
		display: inherit;
	}

	.product-detail .mySlides1 img {
		/* max-width: 600px;
    max-height: 500px; */
		width: 100%;
		height: 100%;
	}

	.input-style {
		height: 30px;
	}
}

/* END : Mobile Responsive */

/* BEGIN : Tablet Responsive : 740px <= width < 1024px */
@media screen and (min-width: 740px) and (max-width: 1023px) {
}

/* END : Tablet Responsive */

/* BEGIN: PC|Laptop Responsive : width >= 1024px*/
@media screen and (min-width: 1024px) {
	.product-list .product-item img {
		margin: 10% 10%;
	}

	.gallery-style {
		max-width: 24%;
		margin: 1% 0 1% 1%;
		border: 1px solid goldenrod;
		box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.3),
			0px 3px 2px 0px rgba(0, 0, 0, 0.3);
	}
}

/* END : PC|Laptop Responsive */

@media (max-width: 1023px) {
	*,
	.footer-col ul li a,
	.footer-col h4,
	#copyright,
	#digital-clock,
	.visitorCount,
	.current-date,
	.box .input,
	b,
	.panel-title,
	.panel-content {
		font-size: 12px;
		line-height: 20px;
	}

	h1,
	h2 {
		font-size: 16pt;
	}

	.search-style h1 {
		font-size: 12pt;
	}

	.nav-pc {
		display: none;
	}

	.call-center,
	.login-register {
		display: none;
	}

	.nav-mobile-btn {
		display: block;
	}

	.product-detail ul {
		width: 100%;
		min-height: 300px;
	}

	.footer-col .social-links a {
		width: 20px;
		height: 20px;
		line-height: 20px;
	}

	.address {
		width: 100%;
	}

	.visitorCount {
		display: none;
	}

	.product-detail ul {
		width: 100%;
	}

	.product-detail-btn {
		margin: 0 0 0 5px;
	}

	span {
		font-weight: 600;
		font-size: 13pt;
	}
}
